Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Werkzeug==2.3.7

# CSV / Excel / PDF
openpyxl==3.1.2
xhtml2pdf==0.2.15
reportlab>=4.0.4,<4.1

# HTML to PDF (xhtml2pdf dépendances)
Pillow>=10.4

# JSON / utilitaires
simplejson==3.19.1

gunicorn==20.1.0  # or the latest stable version
